In [16]:
# Q10: Produce a list of facilities with a total revenue less than 1000.
#The output of facility name and total revenue, sorted by revenue. Remember
#that there's a different cost for guests and members!
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT m.firstname || ' ' || m.surname AS member, r.firstname || ' ' || r.surname AS recommended_by
FROM Members AS m
INNER JOIN Members AS r ON r.memid = m.recommendedby
ORDER by m.surname
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Florence Bader', 'Ponder Stibbons')
('Anne Baker', 'Ponder Stibbons')
('Timothy Baker', 'Jemima Farrell')
('Tim Boothe', 'Tim Rownam')
('Gerald Butters', 'Darren Smith')
('Joan Coplin', 'Timothy Baker')
('Erica Crumpet', 'Tracy Smith')
('Nancy Dare', 'Janice Joplette')
('Matthew Genting', 'Gerald Butters')
('John Hunt', 'Millicent Purview')
('David Jones', 'Janice Joplette')
('Douglas Jones', 'David Jones')
('Janice Joplette', 'Darren Smith')
('Anna Mackenzie', 'Darren Smith')
('Charles Owen', 'Darren Smith')
('David Pinker', 'Jemima Farrell')
('Millicent Purview', 'Tracy Smith')
('Henrietta Rumney', 'Matthew Genting')
('Ramnaresh Sarwin', 'Florence Bader')
('Jack Smith', 'Darren Smith')
('Ponder Stibbons', 'Burton Tracy')
('Henry Worthington-Smyth', 'Tracy Smith')

In [15]:
#Q11 - Produce a report of members and who recommended them in alphabetic surname,firstname order
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT f.name AS facility, SUM( b.slots ) AS member_usage
FROM Facilities AS f
INNER JOIN Bookings AS b ON f.facid = b.facid
WHERE b.memid !=0
GROUP BY b.facid
ORDER BY member_usage DESC
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Badminton Court', 1086)
('Tennis Court 1', 957)
('Massage Room 1', 884)
('Tennis Court 2', 882)
('Snooker Table', 860)
('Pool Table', 856)
('Table Tennis', 794)
('Squash Court', 418)
('Massage Room 2', 54)

In [14]:
# Q12 - Find the facilities with their usage by member, but not guests */
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT f.name AS facility, m.firstname || ' ' || m.surname AS member, b.slots
FROM Members AS m
LEFT JOIN Bookings AS b ON m.memid = b.memid
LEFT JOIN Facilities AS f ON f.facid = b.facid
WHERE b.memid !=0
GROUP BY facility, member, b.slots
ORDER BY facility, member
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Badminton Court', 'Anna Mackenzie', 3)
('Badminton Court', 'Anna Mackenzie', 6)
('Badminton Court', 'Anne Baker', 3)
('Badminton Court', 'Burton Tracy', 3)
('Badminton Court', 'Charles Owen', 3)
('Badminton Court', 'Darren Smith', 3)
('Badminton Court', 'Darren Smith', 6)
('Badminton Court', 'Darren Smith', 9)
('Badminton Court', 'David Jones', 3)
('Badminton Court', 'David Pinker', 3)
('Badminton Court', 'Douglas Jones', 3)
('Badminton Court', 'Erica Crumpet', 3)
('Badminton Court', 'Florence Bader', 3)
('Badminton Court', 'Gerald Butters', 3)
('Badminton Court', 'Gerald Butters', 6)
('Badminton Court', 'Henry Worthington-Smyth', 3)
('Badminton Court', 'Henry Worthington-Smyth', 6)
('Badminton Court', 'Hyacinth Tupperware', 3)
('Badminton Court', 'Jack Smith', 3)
('Badminton Court', 'Jemima Farrell', 3)
('Badminton Court', 'John Hunt', 3)
('Badminton Court', 'Millicent Purview', 3)
('Badminton Court', 'Nancy Dare', 3)
('Badminton Court', 'Ponder Stibbons', 3)
('Badminton Court', 'Ramnaresh Sarwin', 3)
('Badminton Court', 'Tim Boothe', 3)
('Badminton Court', 'Tim Rownam', 3)
('Badminton Court', 'Timothy Baker', 3)
('Badminton Court', 'Tracy Smith', 3)
('Badminton Court', 'Tracy Smith', 6)
('Massage Room 1', 'Anna Mackenzie', 2)
('Massage Room 1', 'Anne Baker', 2)
('Massage Room 1', 'Burton Tracy', 2)
('Massage Room 1', 'Charles Owen', 2)
('Massage Room 1', 'Darren Smith', 2)
('Massage Room 1', 'Darren Smith', 4)
('Massage Room 1', 'David Jones', 2)
('Massage Room 1', 'David Jones', 4)
('Massage Room 1', 'David Pinker', 2)
('Massage Room 1', 'Erica Crumpet', 2)
('Massage Room 1', 'Gerald Butters', 2)
('Massage Room 1', 'Gerald Butters', 4)
('Massage Room 1', 'Henry Worthington-Smyth', 2)
('Massage Room 1', 'Hyacinth Tupperware', 2)
('Massage Room 1', 'Jack Smith', 2)
('Massage Room 1', 'Janice Joplette', 2)
('Massage Room 1', 'Jemima Farrell', 2)
('Massage Room 1', 'Jemima Farrell', 4)
('Massage Room 1', 'Joan Coplin', 2)
('Massage Room 1', 'John Hunt', 2)
('Massage Room 1', 'Matthew Genting', 2)
('Massage Room 1', 'Matthew Genting', 4)
('Massage Room 1', 'Nancy Dare', 2)
('Massage Room 1', 'Ponder Stibbons', 2)
('Massage Room 1', 'Ponder Stibbons', 4)
('Massage Room 1', 'Ramnaresh Sarwin', 2)
('Massage Room 1', 'Tim Boothe', 2)
('Massage Room 1', 'Tim Boothe', 4)
('Massage Room 1', 'Tim Rownam', 2)
('Massage Room 1', 'Tim Rownam', 4)
('Massage Room 1', 'Timothy Baker', 2)
('Massage Room 1', 'Timothy Baker', 4)
('Massage Room 1', 'Tracy Smith', 2)
('Massage Room 2', 'Anne Baker', 2)
('Massage Room 2', 'Charles Owen', 2)
('Massage Room 2', 'David Jones', 2)
('Massage Room 2', 'Florence Bader', 2)
('Massage Room 2', 'Gerald Butters', 2)
('Massage Room 2', 'Jack Smith', 2)
('Massage Room 2', 'Janice Joplette', 2)
('Massage Room 2', 'Joan Coplin', 2)
('Massage Room 2', 'Matthew Genting', 2)
('Massage Room 2', 'Nancy Dare', 2)
('Massage Room 2', 'Ramnaresh Sarwin', 2)
('Massage Room 2', 'Tim Rownam', 2)
('Pool Table', 'Anna Mackenzie', 1)
('Pool Table', 'Anna Mackenzie', 2)
('Pool Table', 'Anna Mackenzie', 3)
('Pool Table', 'Anne Baker', 1)
('Pool Table', 'Burton Tracy', 1)
('Pool Table', 'Charles Owen', 1)
('Pool Table', 'Darren Smith', 1)
('Pool Table', 'David Farrell', 1)
('Pool Table', 'David Jones', 1)
('Pool Table', 'David Pinker', 1)
('Pool Table', 'Douglas Jones', 1)
('Pool Table', 'Florence Bader', 1)
('Pool Table', 'Gerald Butters', 1)
('Pool Table', 'Henrietta Rumney', 1)
('Pool Table', 'Henry Worthington-Smyth', 1)
('Pool Table', 'Henry Worthington-Smyth', 2)
('Pool Table', 'Hyacinth Tupperware', 1)
('Pool Table', 'Hyacinth Tupperware', 2)
('Pool Table', 'Jack Smith', 1)
('Pool Table', 'Janice Joplette', 1)
('Pool Table', 'Jemima Farrell', 1)
('Pool Table', 'Joan Coplin', 1)
('Pool Table', 'Matthew Genting', 1)
('Pool Table', 'Millicent Purview', 1)
('Pool Table', 'Nancy Dare', 1)
('Pool Table', 'Ponder Stibbons', 1)
('Pool Table', 'Ramnaresh Sarwin', 1)
('Pool Table', 'Tim Boothe', 1)
('Pool Table', 'Tim Boothe', 2)
('Pool Table', 'Tim Rownam', 1)
('Pool Table', 'Tim Rownam', 2)
('Pool Table', 'Tim Rownam', 3)
('Pool Table', 'Timothy Baker', 1)
('Pool Table', 'Timothy Baker', 2)
('Pool Table', 'Timothy Baker', 3)
('Pool Table', 'Tracy Smith', 1)
('Pool Table', 'Tracy Smith', 2)
('Snooker Table', 'Anna Mackenzie', 2)
('Snooker Table', 'Burton Tracy', 2)
('Snooker Table', 'Charles Owen', 2)
('Snooker Table', 'Darren Smith', 2)
('Snooker Table', 'David Farrell', 2)
('Snooker Table', 'David Jones', 2)
('Snooker Table', 'David Pinker', 2)
('Snooker Table', 'Florence Bader', 2)
('Snooker Table', 'Gerald Butters', 2)
('Snooker Table', 'Gerald Butters', 4)
('Snooker Table', 'Henrietta Rumney', 2)
('Snooker Table', 'Hyacinth Tupperware', 2)
('Snooker Table', 'Hyacinth Tupperware', 4)
('Snooker Table', 'Jack Smith', 2)
('Snooker Table', 'Janice Joplette', 2)
('Snooker Table', 'Janice Joplette', 4)
('Snooker Table', 'Jemima Farrell', 2)
('Snooker Table', 'Jemima Farrell', 4)
('Snooker Table', 'Joan Coplin', 2)
('Snooker Table', 'Matthew Genting', 2)
('Snooker Table', 'Millicent Purview', 2)
('Snooker Table', 'Nancy Dare', 2)
('Snooker Table', 'Ponder Stibbons', 2)
('Snooker Table', 'Ramnaresh Sarwin', 2)
('Snooker Table', 'Tim Boothe', 2)
('Snooker Table', 'Tim Boothe', 4)
('Snooker Table', 'Tracy Smith', 2)
('Squash Court', 'Anna Mackenzie', 2)
('Squash Court', 'Anne Baker', 2)
('Squash Court', 'Anne Baker', 4)
('Squash Court', 'Anne Baker', 6)
('Squash Court', 'Burton Tracy', 2)
('Squash Court', 'Burton Tracy', 4)
('Squash Court', 'Charles Owen', 2)
('Squash Court', 'Darren Smith', 2)
('Squash Court', 'Darren Smith', 4)
('Squash Court', 'David Farrell', 2)
('Squash Court', 'David Jones', 2)
('Squash Court', 'David Pinker', 2)
('Squash Court', 'Douglas Jones', 2)
('Squash Court', 'Florence Bader', 2)
('Squash Court', 'Gerald Butters', 2)
('Squash Court', 'Henrietta Rumney', 2)
('Squash Court', 'Hyacinth Tupperware', 2)
('Squash Court', 'Jack Smith', 2)
('Squash Court', 'Jack Smith', 4)
('Squash Court', 'Janice Joplette', 2)
('Squash Court', 'Janice Joplette', 4)
('Squash Court', 'Jemima Farrell', 2)
('Squash Court', 'Joan Coplin', 2)
('Squash Court', 'John Hunt', 2)
('Squash Court', 'Millicent Purview', 2)
('Squash Court', 'Ponder Stibbons', 2)
('Squash Court', 'Ramnaresh Sarwin', 2)
('Squash Court', 'Tim Boothe', 2)
('Squash Court', 'Timothy Baker', 2)
('Squash Court', 'Tracy Smith', 2)
('Table Tennis', 'Anna Mackenzie', 2)
('Table Tennis', 'Anne Baker', 2)
('Table Tennis', 'Burton Tracy', 2)
('Table Tennis', 'Charles Owen', 2)
('Table Tennis', 'Charles Owen', 4)
('Table Tennis', 'Darren Smith', 2)
('Table Tennis', 'David Jones', 2)
('Table Tennis', 'David Pinker', 2)
('Table Tennis', 'Erica Crumpet', 2)
('Table Tennis', 'Florence Bader', 2)
('Table Tennis', 'Florence Bader', 4)
('Table Tennis', 'Gerald Butters', 2)
('Table Tennis', 'Henry Worthington-Smyth', 2)
('Table Tennis', 'Jack Smith', 2)
('Table Tennis', 'Janice Joplette', 2)
('Table Tennis', 'Jemima Farrell', 2)
('Table Tennis', 'Joan Coplin', 2)
('Table Tennis', 'Joan Coplin', 4)
('Table Tennis', 'John Hunt', 2)
('Table Tennis', 'Matthew Genting', 2)
('Table Tennis', 'Matthew Genting', 4)
('Table Tennis', 'Millicent Purview', 2)
('Table Tennis', 'Millicent Purview', 4)
('Table Tennis', 'Nancy Dare', 2)
('Table Tennis', 'Ponder Stibbons', 2)
('Table Tennis', 'Ramnaresh Sarwin', 2)
('Table Tennis', 'Tim Boothe', 2)
('Table Tennis', 'Tim Rownam', 2)
('Table Tennis', 'Tim Rownam', 4)
('Table Tennis', 'Timothy Baker', 2)
('Table Tennis', 'Tracy Smith', 2)
('Tennis Court 1', 'Anne Baker', 3)
('Tennis Court 1', 'Burton Tracy', 3)
('Tennis Court 1', 'Charles Owen', 3)
('Tennis Court 1', 'David Farrell', 3)
('Tennis Court 1', 'David Jones', 3)
('Tennis Court 1', 'David Jones', 6)
('Tennis Court 1', 'David Pinker', 3)
('Tennis Court 1', 'David Pinker', 6)
('Tennis Court 1', 'Douglas Jones', 3)
('Tennis Court 1', 'Erica Crumpet', 3)
('Tennis Court 1', 'Florence Bader', 3)
('Tennis Court 1', 'Gerald Butters', 3)
('Tennis Court 1', 'Jack Smith', 3)
('Tennis Court 1', 'Jack Smith', 6)
('Tennis Court 1', 'Janice Joplette', 3)
('Tennis Court 1', 'Jemima Farrell', 3)
('Tennis Court 1', 'Joan Coplin', 3)
('Tennis Court 1', 'John Hunt', 3)
('Tennis Court 1', 'Matthew Genting', 3)
('Tennis Court 1', 'Nancy Dare', 3)
('Tennis Court 1', 'Nancy Dare', 9)
('Tennis Court 1', 'Ponder Stibbons', 3)
('Tennis Court 1', 'Ramnaresh Sarwin', 3)
('Tennis Court 1', 'Tim Boothe', 3)
('Tennis Court 1', 'Tim Rownam', 3)
('Tennis Court 1', 'Timothy Baker', 3)
('Tennis Court 1', 'Timothy Baker', 6)
('Tennis Court 1', 'Tracy Smith', 3)
('Tennis Court 1', 'Tracy Smith', 6)
('Tennis Court 2', 'Anne Baker', 3)
('Tennis Court 2', 'Anne Baker', 6)
('Tennis Court 2', 'Burton Tracy', 3)
('Tennis Court 2', 'Charles Owen', 3)
('Tennis Court 2', 'Charles Owen', 6)
('Tennis Court 2', 'Darren Smith', 3)
('Tennis Court 2', 'David Farrell', 3)
('Tennis Court 2', 'David Jones', 3)
('Tennis Court 2', 'David Jones', 6)
('Tennis Court 2', 'Florence Bader', 3)
('Tennis Court 2', 'Gerald Butters', 3)
('Tennis Court 2', 'Henrietta Rumney', 3)
('Tennis Court 2', 'Jack Smith', 3)
('Tennis Court 2', 'Janice Joplette', 3)
('Tennis Court 2', 'Jemima Farrell', 3)
('Tennis Court 2', 'John Hunt', 3)
('Tennis Court 2', 'Millicent Purview', 3)
('Tennis Court 2', 'Nancy Dare', 3)
('Tennis Court 2', 'Ponder Stibbons', 3)
('Tennis Court 2', 'Ponder Stibbons', 6)
('Tennis Court 2', 'Ramnaresh Sarwin', 3)
('Tennis Court 2', 'Ramnaresh Sarwin', 6)
('Tennis Court 2', 'Tim Boothe', 3)
('Tennis Court 2', 'Tim Boothe', 6)
('Tennis Court 2', 'Tim Boothe', 9)
('Tennis Court 2', 'Tim Rownam', 3)
('Tennis Court 2', 'Timothy Baker', 3)
('Tennis Court 2', 'Tracy Smith', 3)

In [13]:
# Q13 - Find the facilities usage by month, but not guests */
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT strftime('%m',starttime) as month,
m.firstname || ' ' || m.surname AS member, SUM( b.slots ) AS tot_slots
FROM Bookings AS b
INNER JOIN Members AS m ON b.memid = m.memid
WHERE b.memid !=0
GROUP BY month , member
ORDER BY month, member
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('07', 'Burton Tracy', 41)
('07', 'Darren Smith', 255)
('07', 'Gerald Butters', 127)
('07', 'Janice Joplette', 137)
('07', 'Nancy Dare', 50)
('07', 'Tim Boothe', 42)
('07', 'Tim Rownam', 227)
('07', 'Tracy Smith', 182)
('08', 'Anna Mackenzie', 17)
('08', 'Anne Baker', 125)
('08', 'Burton Tracy', 225)
('08', 'Charles Owen', 185)
('08', 'Darren Smith', 249)
('08', 'David Jones', 134)
('08', 'David Pinker', 48)
('08', 'Florence Bader', 80)
('08', 'Gerald Butters', 166)
('08', 'Jack Smith', 102)
('08', 'Janice Joplette', 104)
('08', 'Jemima Farrell', 82)
('08', 'Matthew Genting', 18)
('08', 'Nancy Dare', 128)
('08', 'Ponder Stibbons', 127)
('08', 'Tim Boothe', 237)
('08', 'Tim Rownam', 242)
('08', 'Timothy Baker', 111)
('08', 'Tracy Smith', 151)
('09', 'Anna Mackenzie', 214)
('09', 'Anne Baker', 171)
('09', 'Burton Tracy', 100)
('09', 'Charles Owen', 160)
('09', 'Darren Smith', 181)
('09', 'David Farrell', 50)
('09', 'David Jones', 171)
('09', 'David Pinker', 111)
('09', 'Douglas Jones', 37)
('09', 'Erica Crumpet', 17)
('09', 'Florence Bader', 157)
('09', 'Gerald Butters', 116)
('09', 'Henrietta Rumney', 38)
('09', 'Henry Worthington-Smyth', 60)
('09', 'Hyacinth Tupperware', 28)
('09', 'Jack Smith', 117)
('09', 'Janice Joplette', 85)
('09', 'Jemima Farrell', 98)
('09', 'Joan Coplin', 106)
('09', 'John Hunt', 40)
('09', 'Matthew Genting', 113)
('09', 'Millicent Purview', 32)
('09', 'Nancy Dare', 89)
('09', 'Ponder Stibbons', 122)
('09', 'Ramnaresh Sarwin', 153)
('09', 'Tim Boothe', 161)
('09', 'Tim Rownam', 191)
('09', 'Timothy Baker', 179)
('09', 'Tracy Smith', 102)